.popup__container {
  position: relative;
  width: 430px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 611px) {
  .popup__container {
    width: 282px;
  }
}
