.place__like-btn {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/place__like-btn.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
